#header {
    top:10px;
    position:relative;
    margin-left:20px;
    border:2px solid;
}
h2 { 
    text-align:center;
    font-family:Arial;
    color:#C0C0C0;
}
#left {
    margin-left: 20px;
    margin-top:8px;
    height:40px;
}
table {
    border:2px solid;
    height:100px;
    width:250px;
    
}
td {
    border:1px solid black;
    color:#C0C0C0;
}
ul{
	list-style-type: none;
	position: fixed;
	margin-top:-30px;
	margin-left:10px;
}

li {
	display: inline;
	border: 2px solid #000000;
	font-family: Futura, Tahoma, sans-serif;
	padding: 5px;
	border-radius: 5px 5px;
	color:#C0C0C0;
}
#right {
    border:2px solid;
    height:600px;
    margin-left:268;
}
body {
    background-color:#000080
}
