#required{
    margin-top:15%;
}
td { 
    font-family:Arial;
    font-size:20px;
    color:white;
}
button {
    position:relative;
    margin-left:50%;
    margin-bottom:15%
}
table {
    width:150%;
    border: solid white;
    box-shadow: 
		0 5px 10px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 5);
}
body {
 background-color: black;
}
label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
color:white;
font-family:Arial;
}

input{

}

fieldset{
border:none;
width:500px;
margin:0px auto;
}

.Error {
    display:inline-block;
    text-align:right;
    color:#FF0000;
    font-size:12px;
}
.fadein {
    position:absolute;
    top:33%;
    left:10%;
    margin:auto;
}
.fadein img {
    position:absolute;
    left:-10%;
    top:10%;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 20s;
    -moz-animation-name: fade;
    -moz-animation-iteration-count: infinite;
    -moz-animation-duration: 20s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
    -webkit-animation-delay: -10s;
}
