#required{
    margin-top:15%;
}
td { 
    font-family:Arial;
    font-size:20px;
    color:black;
}
button {
    position:relative;
    margin-left:50%;
    margin-bottom:15%
}
table {
    width:150%;
    border: solid white;
    box-shadow: 
		0 5px 10px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 5);
}
body {
 background-color: black;
}
label{
display:inline-block;
width:200px;
margin-right:30px;
text-align:right;
color:white;
font-family:Arial;
}

input{

}

fieldset{
border:none;
width:500px;
margin:0px auto;
}

.Error {
    display:inline-block;
    text-align:right;
    color:#FF0000;
    font-size:12px;
}
