#buttons {
	height: 250px;
	width: 200px;
	margin: auto;
	text-align: center;
	font-size:40px;
	font-family:Arial;
	border: 2px solid white;
	background-color:grey;
}
a {
    color:white;
    text-decoration:none;
}
