#required {
    border:1px solid;
    height:300px;
    margin:auto;
    width:1200px;
    margin-top:50px;
}
#notrequired {
    border:1px solid;
    height:300px;
    margin:auto;
    width:1200px;
    margin-top:5px;
}
td { 
    font-family:Arial;
    font-size:20px;
    color:white;
}
button {
    margin-left:50%;
}
table {
    margin:auto;
    border:1px solid;
}
body {
    background: -webkit-radial-gradient(red, green, blue); /* Safari 5.1 to 6.0 */
background: -o-radial-gradient(red, green, blue); /* For Opera 11.6 to 12.0 */
background: -moz-radial-gradient(red, green, blue); /* For Firefox 3.6 to 15 */
background: radial-gradient(f2f2f2, black, black); /* Standard syntax (must be last) */
}
